DATABASE_URL="postgresql://postgres:postgres@localhost:5434/teron_os?schema=public"

# MERCADO PAGO API KEYS
MERCADOPAGO_ACCESS_TOKEN="seu_access_token_aqui"
MERCADOPAGO_PUBLIC_KEY="sua_public_key_aqui"

APP_URL="http://localhost:3005"
